:root {
  --color-bg: #fff;
  --color-container: #222;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg);
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  position: relative;
  width: 800px;
  height: 500px;
  background: var(--color-container);
}

.container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.clip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.clip1 {
  background: url(assets/image1.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 46% 0, 39% 100%, 0 100%);
}
.clip2 {
  background: url(assets/image2.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(19% 0, 87% 0, 64% 100%, 33% 100%);
}
.clip3 {
  background: url(assets/image3.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(82% 0, 100% 0, 100% 100%, 63% 100%);
}
